* text=auto
.gitattributes text eol=lf

*.md text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.dockerignore text eol=lf
Dockerfile text eol=lf
Dockerfile.* text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.ps1 text eol=crlf